$bordercolor: #ddd;
$default-bg: #fff;
$border-radius-base: 3px;
$border-radius-lg: 8px;
$border-radius-max: 200px;
$active-bg: #e5e6e7;
$active-opacity: 0.5;
$txt-default: #000;
$txt-info: #777;
$txt-muted: #bbb;
$txt-warning: #ff4222;
$txt-highlight: #ff8444;
$txt-link: #00a5e0;
$txt-feeds: #314c83;
$theme-color: #f35d2a;
$gray-btn: #f2f2f2;
$gray-icon: #7B7A7A;
$num-color:#f35d2a;
$manage-theme-color:#0671c6;
