<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>设置广告</title>
    <link rel="stylesheet" href="/src/font/iconfont.css">
    <link rel="stylesheet" href="/src/libs/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/libs/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/css/manage.css">
    <script id="script" src="/src/libs/require.min.js" defer async="true" require-module="./manage_ad_add"
            data-main="/src/js/config.js"></script>
    <!--[if lt IE 9]>
    <script src="/src/libs/html5shiv.min.js"></script>
    <script src="/src/libs/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--include "../public/manage_sidebar.html"-->
<!--include "../public/manage_header.html"-->

<div class="container-wrap">
    <div class="bread-nav clearfix p-l-lg">
        <ol>
            <li class="fl active text-333 text-basic"><a href="javascript:void(0);" onclick="window.history.go(-1);">设置广告&nbsp;&gt;&nbsp;</a>
            </li>
            <li class="fl active text-333 text-basic"><a href="javascript:void(0);">添加广告</a>
            </li>
        </ol>
    </div>
    <form class="form-horizontal p-t-lg" id="form-box">
        <div id="div-box">
            <div class="form-group text-basic">
                <div class="col-lg-2 text-right">
                    <span>上传图片<i class="red p-r-sm">*</i></span>
                </div>
                <div class="col-lg-10">
                    <ul id="pic-document-list">

                    </ul>
                    <a href="javascript:void(0);" class="a-upload">
                        <input type="file" name="" id="pic-upload" value="上传封面图">
                            <span>点击上传</span>
                   </a>
                </div>
            </div>
            <div class="form-group text-basic">
                <div class="col-lg-2 text-right">
                    <span>广告链接<i class="red p-r-sm">*</i></span>
                </div>
                <div class="col-lg-5">
                    <input type="text" name="url" class="form-control" value="" placeholder="账户名">
                </div>
            </div>
            <div class="form-group text-basic">
                <div class="col-lg-2 text-right">
                    <span>描述<i class="red p-r-sm">*</i></span>
                </div>
                <div class="col-lg-5">
                    <input type="text" name="description" class="form-control" value="" placeholder="账户名">
                </div>
            </div>
            <div class="form-group text-basic">
                <div class="col-lg-2 text-right p-t-sm">
                    <span>&nbsp;&nbsp;状态<i class="red p-r-sm">*</i></span>
                </div>
                <div class="col-lg-5">
                    <label class="radio-inline m-r-lg">
                        <input type="radio" name="state" value="1" checked>开启（默认）
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="state" value="2">关闭
                    </label>
                </div>
            </div>
        </div>
        <div class="btn-group" style="position: absolute;top:90px;right:0;">
            <input type="submit" id="submit-btn" value="保存" class="btn btn-primary m-r-lg text-basic">
            <a href="javascript:void(0)" class="btn btn-default m-r-lg text-basic"
               onclick="window.history.go(-1);">返回</a>
        </div>
    </form>
    <script id="div-box-tpl" type="text/html">
        <div class="form-group text-basic">
            <div class="col-lg-2 text-right">
                <span>上传图片<i class="red p-r-sm">*</i></span>
            </div>
            <div class="col-lg-10">
                <ul id="pic-document-list">

                </ul>
                <a href="javascript:void(0);" class="a-upload">
                    <input type="file" name="" id="pic-upload" value="上传封面图">
                    <span>点击上传</span>
                </a>
            </div>
        </div>
        <div class="form-group text-basic">
            <div class="col-lg-2 text-right">
                <span>广告链接<i class="red p-r-sm">*</i></span>
            </div>
            <div class="col-lg-5">
                <input type="text" name="url" class="form-control adName" value="{{obj.url}}"
                       placeholder="账户名">
            </div>
        </div>
        <div class="form-group text-basic">
            <div class="col-lg-2 text-right">
                <span>描述<i class="red p-r-sm">*</i></span>
            </div>
            <div class="col-lg-5">
                <input type="text" name="description" class="form-control adName" value="{{obj.description}}"
                       placeholder="账户名">
            </div>
        </div>
        <div class="form-group text-basic">
            <div class="col-lg-2 text-right p-t-sm">
                <span>状态<i class="red p-r-sm">*</i></span>
            </div>
            <div class="col-lg-5">
                <label class="radio-inline m-r-lg">
                    <input type="radio" name="state" value="1" {{if obj.state==1}}checked{{/if}}>开启（默认）
                </label>
                <label class="radio-inline">
                    <input type="radio" name="state" value="2" {{if obj.state==2}}checked{{/if}}>关闭
                </label>
            </div>
        </div>
    </script>
</div>
</body>
</html>
